Source: miral
Section: x11
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Alan Griffiths <alan.griffiths@canonical.com>
Build-Depends: cmake,
               cmake-extras,
               pkg-config,
               debhelper (>= 9),
               doxygen,
               xsltproc,
               graphviz,
               pkg-config,
               python-pil,
               google-mock (>= 1.6.0+svn437),
               python3:any,
               libmirserver-dev,
               libmirclient-dev,
               mirtest-dev,
Standards-Version: 3.9.8
Homepage: https://launchpad.net/miral
# If you aren't a member of ~mir-team but need to upload packaging changes,
# just go ahead. ~mir-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/miral

Package: libmiral1
Section: libs
Architecture: linux-any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Display server for Ubuntu - ABI preserving abstraction layer
 MirAL provides an ABI-stable abstraction layer for Mir based shells,
 insulating them from mirserver ABI breaks.
 .
 Contains the shared library containing MirAL abstraction layer.

Package: libmiral-dev
Section: libdevel
Architecture: linux-any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: libmiral1 (= ${binary:Version}),
         ${misc:Depends},
Description: Display server for Ubuntu - ABI preserving abstraction layer
 MirAL provides an ABI-stable abstraction layer for Mir based shells,
 insulating them from mirserver ABI breaks.
 .
 Contains header files required for development using the MirAL abstraction
 layer.

Package: miral-examples
Architecture: linux-any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Display server for Ubuntu - demonstration programs
 MirAL provides an ABI-stable abstraction layer for Mir based shells,
 insulating them from mirserver ABI breaks.
 .
 Contains demo applications that use the MirAL abstraction layer

Package: miral-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
Description: API documentation for MirAL
 This package installs the MirAL abstraction layer documentation.
